@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Agile.Minimalist.Model.QuoteHighlights>

@{
    ViewBag.Title = "Search Results";
    Layout = "../Shared/_Layout.cshtml";
}

<a href="/quote">Back to List</a>
<h2>Showing @ViewBag.NumberShown of @ViewBag.TotalResults for " @ViewBag.Term "</h2>

@foreach (var item in Model.Quotes)
{
    <div>
        <p>
            <strong><a href="/quote/@item.Id">@item.Title</a></strong><br/>
            <strong><em>@item.Source</em></strong><br/>
            @Html.Raw(item.ArticleBodySnippet)<br />
            <em>Score: @item.Score</em>
        </p>
    </div>
}
